body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

label, input, select {
    display: block;
    margin: auto;
}

#website_get {
    display: none;
}